$white: #fff;
$black: #000;

$primary: #444ce7;
$primary-lighten-1: #444ce7;
$primary-lighten-2: #444ce7;
$primary-darken-1: #444ce7;
$primary-darken-2: #444ce7;

$secondary: #4b5565;
$secondary-lighten-1: #4b5565;
$secondary-lighten-2: #4b5565;
$secondary-darken-1: #4b5565;
$secondary-darken-2: #4b5565;
